p{
    font-family: Arial;
    font-size: 24px;
}

fieldset{
    border-radius: 20px;
}

h1{
    font-family: Arial;
    font-size: 32px;
    margin-left: 550px;
}

.titulo{
    background-color: gold;
}

legend{
    font-family: Arial;
    font-size: 40px;
}
img{
    border-radius: 20px;
    margin: 20px;
    margin-left: 460px;
    height: 300px;
}
 
section{
    font-family: Arial;
    font-size: 20px;
 }

 button{
    height: 40px;
    border-radius: 10px;
    background-color: gray;
    font-size: 15px;
 }
 
 iframe{
    border-radius: 20px;
    margin: 20px;
    margin-left: 450px;
 }